FizzBuzz/Service References/Service.Divisibility/Divisiblity1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="FizzBuzz.CalcService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="FizzBuzz.CalcService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="FizzBuzz.CalcService/Imports">
      <xsd:import schemaLocation="http://localhost:1813/Divisiblity.svc?xsd=xsd0" namespace="FizzBuzz.CalcService" />
      <xsd:import schemaLocation="http://localhost:1813/Divisiblity.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Divisiblity_ServiceTest_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceTest" />
  </wsdl:message>
  <wsdl:message name="Divisiblity_ServiceTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceTestResponse" />
  </wsdl:message>
  <wsdl:message name="Divisiblity_Divisibility_InputMessage">
    <wsdl:part name="parameters" element="tns:Divisibility" />
  </wsdl:message>
  <wsdl:message name="Divisiblity_Divisibility_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivisibilityResponse" />
  </wsdl:message>
  <wsdl:portType name="Divisiblity">
    <wsdl:operation name="ServiceTest">
      <wsdl:input wsaw:Action="FizzBuzz.CalcService/Divisiblity/ServiceTest" message="tns:Divisiblity_ServiceTest_InputMessage" />
      <wsdl:output wsaw:Action="FizzBuzz.CalcService/Divisiblity/ServiceTestResponse" message="tns:Divisiblity_ServiceTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divisibility">
      <wsdl:input wsaw:Action="FizzBuzz.CalcService/Divisiblity/Divisibility" message="tns:Divisiblity_Divisibility_InputMessage" />
      <wsdl:output wsaw:Action="FizzBuzz.CalcService/Divisiblity/DivisibilityResponse" message="tns:Divisiblity_Divisibility_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>